/*CSS linkado certinho*/

* {
  /*Resetando o CSS do site (Padrão)*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: white;
  min-height: 100%;
  font-family: Verdana;
  background: no-repeat center/cover;
  background-image: url("https://images3.alphacoders.com/136/1365701.jpeg");
}

header {
  width: 100%;
  background-color: black;
  height: 64px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer{
  width: 100%;
  background-color: #121212;
  height: 64px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

.content {
  background-color: rgba(0, 0, 0, 0.593);
  padding: 1.5rem;
  max-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

button {
  padding: 16px;
  background-color: rgb(255, 162, 0);
  color: rgb(0, 0, 0);
  font-size: 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

form button{
  padding: 0px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 3.5rem;
  align-self: center;
}

main button:hover {
  background-color: rgb(196, 124, 0); 
  color: rgb(255, 255, 255);
}

#envInscricao{
  background-color: rgb(255, 162, 0);
  color: rgb(0, 0, 0);
}

#envInscricao:hover{
  background-color: rgb(196, 124, 0); 
  color: rgb(255, 255, 255);
}
h2{
  color: black;
}

.popup{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  max-width: 350px;
  max-height: 400px;
  min-height: 200px;
  width: 100%;
  height: 100%;

  background-color: white;
  border-radius: 5px;
  padding: 1rem;

  position: relative;
}

.popup form{
  padding: 1rem;
  min-height: 320px;
  height: 100%;
}

.popup-bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.mostraForm{
  display: flex;
}

.popup-bg-btnFechar{
  margin-top: 10px;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.541);
  font-size: 18px;
  cursor: pointer;
}

input{
  padding: 0.5rem;
  border-color: black;
  border-radius: 5px;
}

span{
  color: rgb(0, 255, 0);
}